<?xml version="1.0"?>
<launch>

    <node name="robot_node" pkg="lampo_firmware" type="robot_node.py"  output="log" respawn="false" respawn_delay="0">
        
    </node>
    <node name="camera_node" pkg="lampo_firmware" type="camera_node.py"  output="log" respawn="false" respawn_delay="0">
        
    </node>    

</launch>
